@{
    Layout = null;
}



<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1024" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>亲心小夏 - HeartSummer Impress</title>

    <meta name="description" content="impress.js is a presentation tool based on the power of CSS3 transforms and transitions in modern browsers and inspired by the idea behind prezi.com." />
    <meta name="author" content="Bartek Szopka" />

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:regular,semibold,italic,italicsemibold|PT+Sans:400,700,400italic,700italic|PT+Serif:400,700,400italic,700italic" rel="stylesheet" />
     
    <link href="~/Content/impress/coneboy.css" rel="stylesheet" />
    <link rel="shortcut icon" href="favicon.png" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />

   

</head>
<body>
    <embed src="http://www.tushuoapp.com/bgm.mp3" autostart="true" loop="true" hidden="true"> 

    <div id="impress">

        <div id="welcome" class="step" data-x="-2000" data-y="-2500">
            <p>Hi~ Welcome to</p>
            <p><span class="title"><b>HeartSummer</b></span></p>
            <p><span class="footnote"><sup>*</sup>我是<span class="name"><strong>Daslss</strong></span>,这里是我的家</span></p>
        </div> 

        <div id="me" class="step" data-x="0" data-y="-2500">
            <b class="now_me">现在的我：</b>
            <ul>
                <b class="PM">一名程序员,</b>
                <b class="iOS">职业Asp.net开发者,</b>
                <b class="other">业余站长,游泳爱好者.</b>
            </ul>
        </div>


       

        <div id="whereiam" class="step" data-x="850" data-y="3000" data-rotate="90" data-scale="3">
            <p>生于<span class="xian">小夏</span></p>
            <p><span class="born">习惯与朋友吃烤串、喝九度侃大山。</span></p>
            <p>求学<span class="xaut">江夏</span></p>
            <p><span class="study">边啃着那些无用的课本，边闯荡在互联网的江湖中</span></p>
        </div>

        <div id="beijing" class="step" data-x="3500" data-y="2100" data-rotate="180" data-scale="4">
            <p>正在<b class="trans">学习</b><p>
            <p><span class="beipiao">在体验着人间冷暖的同时</span></p>
            <p><span class="beipiao">也在向自己梦想一步步靠近</span></p>

        </div>

        <div id="dream" class="step" data-x="-100" data-y="2900" data-z="900" data-rotate="-90" data-scale="5">
            <p>时常会思考，人生的意义是什么？</p>
        </div>

        <div id="aboutDream" class="step" data-x="1300" data-y="6000" data-z="2400" data-scale="6">
            <p>也许是为了票子、房子、妹子</p>
            <p>也许是为了实现年少时的梦想</p>
            <p>也许我们依然寻找着正确的答案...</p>
        </div>


        <div id="tiny" class="step" data-x="1300" data-y="6000" data-z="-3000" data-rotate="300" data-scale="1">
            <p>我认为...</p>
        </div>

        <div id="main" class="step" data-x="0" data-y="7000" data-z="-3000" data-rotate="300">
            <p>人生</p>
            <p><span class="life">每个阶段都有这不同的意义。</span></p>
            <p>程序员！</p>
            <p>
                <span class="life">创造一款产品能惠及</span>
                <span class="big">10W+</span>
                <span class="life">用户的产品，这就是现阶段的<b>意义</b></span>
            </p>
        </div>


        <div id="mywords" class="step" data-x="4500" data-y="3500" data-z="3000" data-rotate="160">
            <p>人生旅途中，我们会遇到很多朋友</p>
            <p>从你来到“丛香”开始</p>
            <p>我们就成为朋友</p>
        </div>

        <div id="grow" class="step" data-x="3500" data-y="-850" data-z="3000" data-rotate="270" data-scale="6">
            <p>也许你这里看到了各种浅薄的文字，</p>
            <p>可我相信他们真实记录了，</p>
            <p><span class="forwords"><b>我追梦的每一步。</b></span></p>
        </div>

        坚信



        <div id="knowme" class="step" data-x="-6000" data-y="-800" data-z="0" data-rotate="0" data-scale="1">
            <p><b>坚信</b></p>
            <p><span class="low">劣势</span>的性格会伴随着成长和自信，</p>
            <p>终有一天会像压迫中的弹簧一样反跳的更高，</p>
            <p>从而成为<span class="high">优势</span>。</p>
        </div>


        <div id="prizeme" class="step" data-x="-6000" data-y="-500" data-z="-500" data-rotate-x="-40" data-rotate-y="10" data-scale="2">
            <p><span class="horse"><b>希望</b></span></p>
            <p> <span class="youare">浅薄的文字，</span></p>
            <p><span class="my">能给你带来</span><span class="hope"> 那么一点<b>收获</b>。</span> 			<b></p>
        </div>

        <div id="findme" class="step" data-x="-6000" data-y="1000" data-scale="4">
            <p>你可以微博<a href="#">@@Aso_</a></p>
            <p>或者电邮给我<a href="mailto:postmast@codefrist.top?subject=我想和你交个朋友">admin@coneboy.com</a></p>
            <q>也可以逛逛我的<a href="http://www.coneboy.com/timeline.html">时间线</a>，那里会和你分享我的一些经历。</q>
        </div>

        <div id="motto" class="step" data-x="0" data-y="1500" data-z="6000" data-scale="5">
            <p><b>Small,but big for dream.</b></p>
        </div>


        <div id="back" class="step" data-x="-6000" data-y="5200" data-scale="2">
            <p>谢谢您来访</p>
            <p>点击<a href="http://www.codefirst.top">这里</a>进入亲心小夏</p>
        </div>

        <div class="step" id="overview" data-x="0" data-y="0" data-scale="10"></div>
    </div>
    <div class="hint">
        <p>请使用空格或方向键播放</p>
    </div> 
    <script>
        if ("ontouchstart" in document.documentElement) {
            document.querySelector(".hint").innerHTML = "<p>Tap on the left or right to navigate</p>";
        }
    </script>

    <script src="~/Content/impress/impress.js"></script>
    <script>impress().init();</script> 
</body>
</html>
 