
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @Html.Label("ShowTime")

        <h1>t4模版可用</h1> 

        <h1>三层配置完成。</h1>

        <h1>导入验证码！</h1>

        <h1>导入视图！</h1>

        <h1>导入Content</h1>
    </div>
</body>
</html>
